@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ================ GERAL ================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #181818;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.container {
  width: 1560px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-page {
  width: 500px;
  height: 800px;
}
/* ================ CABEÇALHO ================ */

header {
  width: 100%;
  backdrop-filter: blur(3px) brightness(20%);
  padding: 10px 0;
  position: fixed;
  z-index: 3000;
}

main {
  position: relative;
}

header .logo {
  width: 80px;
}

.lista-principal {
  margin: 36px 0 0 0;
  list-style: none;
}

.lista {
  display: inline;
  margin-right: 20px;
}

.lista:last-child {
  margin: 0;
}

.lista a {
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.lista a span {
  color: #840000ff;
  font-size: 14px;
  display: inline-block;
  transform: rotate(0deg);
  transition: all 0.3s ease-in;
}

.lista:hover a span {
  transform: rotate(-180deg);
  transition: all 0.3s ease-in;
}

a:hover {
  color: rgb(255, 46, 46);
  transition: all 0.3s ease-in;
}

.submenu {
  visibility: hidden;
  position: absolute;
  border-radius: 5px;
  list-style: none;
  border: solid 2px #fff;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 60px;
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.5s;
}

.submenu li {
  margin: 10px 30px;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  opacity: 10%;
  z-index: -2000;
}

.lista:hover .submenu {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

/* ================ SECTION 1 ================ */

.figure-box {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 150px 50px 0 0;
  transition: all 0.3s ease-in;
}

.figure-box figure {
  width: 340px;
  height: 490px;
}

.figure-box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: all 0.3s ease-in;
}

.figure-box p {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  font-size: 16px;
  text-align: justify;
  color: #fff;
}

.figure-box h2 {
  margin-top: 20px;
}

.figure-box a {
  color: #d52800ff;
  transition: all 0.3s ease-in;
}

.figure-box:last-child {
  margin: 150px 0 0 0;
}

.figure-box:hover {
  && img {
    scale: 1.05;
    opacity: 35%;
  }

  && a {
    color: #840000ff;
  }
}

/* ================ FOOTER ================  */

footer {
  width: 100%;
  padding: 60px;
  position: relative;
  backdrop-filter: blur(3px) brightness(20%);
  text-align: center;
}

.rodape {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rodape ul {
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
}

.rodape img {
  width: 50px;
  transition: all 0.5s ease-in;
}

.rodape img:hover {
  scale: 1.1;
  opacity: 30%;
  transition: all 0.5s ease-in;
}

/* ============= Movie Box ============ */

.movies {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: end;

  && h1 {
    font-size: 60px;
  }
}

.movie-box {
  position: relative;
  margin: 0 21px 0 0;
  border-radius: 12px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in;
}

.top10 {
  margin: 0 120px 0 0;
  position: relative;

  && .top10:last-child {
    margin: 0;
  }
}

.top10 span {
  color: black;
  -webkit-text-stroke: 10px rgb(145, 145, 145);
  font-family: "Anton";
  font-size: 400px;
  position: absolute;
  left: -120px;
  top: -150px;
  z-index: -200;
  opacity: 40%;
} 

.n10 span{
  font-size: 400px;
  left: -130px;
}

.movie-box img {
  width: 300px;
  height: 500px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease;
}

.movie-menu {
  z-index: 2000;
  transition: all 0.5s ease-in;
  visibility: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #000;
  padding: 10px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.movie-menu .row {
  display: flex;
  justify-content: space-between;
}

.movie-menu ul {
  display: inline-flex;
  list-style: none;
}

.play {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 32px;
  padding-left: 5px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease-in;
}

.play:hover {
  transition: all 0.5s ease-in;
  opacity: 40%;
}

.classification {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  text-align: center;
  font-size: 32px;
  position: relative;
  border: 2px solid #fff;
}

.Livre {
  background-color: green;
}

.A10 {
  background-color: rgb(47, 216, 216);
}

.A12 {
  background-color: rgb(255, 230, 0);
}
.A14 {
  background-color: orange;
}

.A16 {
  background-color: red;
}

.A18 {
  background-color: #000;
}

.movie-box:hover {
  z-index: 2000;
  scale: 1.1;
  && .movie-menu {
    visibility: visible;
  }

  && img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* ============= Contato ============= */

.contato {
  width: 100%;
  margin: 150px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contato form {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  && h1 {
    font-size: 32px;
  }

  && label {
    font-size: 24px;
  }

  && input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    width: 100%;
    font-size: 18px;
    padding: 2px 7px;
  }

  && textarea {
    width: 100%;
    background: none;
    font-size: 18px;
    padding: 2px 7px;
    border: 2px solid #fff;
    border-radius: 8px;
  }

  && .submit {
    width: 100%;
    border: 1px solid #fff;
    transition: all 0.5s ease-in;
    border-radius: 50px;
    cursor: pointer;
  }

  && .submit:hover {
    background: #d52800ff;
  }
}

/* ============= SOBRE ============= */

.sobre {
  width: 100%;
  margin: 150px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  && .text {
    width: 850px;
  }
}
